@import "tailwindcss";

@theme inline {
  --font-sans: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    monospace;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    monospace;
}

html {
  color-scheme: dark;
}

body {
  background: #090909;
  color: #ececec;
  font-family: var(--font-sans);
}
